nav {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 15px;
        background-color: rgb(30, 30, 52);


        header {
            div {
                position: relative;
                width: 35px;
                height: 30px;
            }
        }

        .thumbnail {
            outline: 3px solid white;
            border-radius: 100%;
            overflow: hidden;
            
        button {
            border-radius: 100%;
            border: none;
            background-color: transparent;
            overflow: hidden;

                .user-profile {
                    position: relative;
                    width: 35px;
                    aspect-ratio: 1/1;
                }
            }
        }

        ul {
            list-style: none;

            li {
                display: inline-block;
                margin: 0 10px;

                a div {
                    position: relative;
                    width: 25px;
                    height: 25px;
                }

                a .activeLink{
                    filter: invert(45%) sepia(41%) saturate(7485%) hue-rotate(340deg) brightness(99%) contrast(104%);
                }

                a:hover div {
                    filter: invert(100%) sepia(97%) saturate(0%) hue-rotate(185deg) brightness(104%) contrast(102%);
                }
            }
        }
    }
}